services:
  # Backend API Service
  - type: web
    name: mini-ims-backend
    runtime: node
    plan: free
    env: node
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://dbUser:HelloDbUser@cluster0.cmxcngo.mongodb.net/mini-ims?retryWrites=true&w=majority
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRES_IN
        value: 2h
      - key: FRONTEND_URL
        value: https://interview-ims-1.onrender.com
